/* Notes
Navbar Hex: #C9EAF8
 */

/* Animations */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.backgroundimg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Landing Text Styling */
p.landingtext {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 75px;
  white-space: nowrap;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 75px;
  white-space: nowrap;
}

.typing-demo {
  width: 34ch;
  animation: typing 2.5s steps(34), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.fadeRight {
  animation: fadeInRight 0.25s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

.fadeLeft {
  animation: fadeInLeft 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

/* General Webpage Styling */
@font-face {
  font-family: webFont;
  src: local("static/Titillium_Web/TitilliumWeb-Regular.ttf");
}

:root {
  font-family: webFont;
  background-color: #FFF8EF;
}
html body {
  background-color: #FFF8EF;
}

.container .btn:hover {
  background-color: lightgray;
  border-color: lightgray;
}

nav {
  z-index: 10;
}
.nav-item {
  font-size: 25px;
  padding: 0px 20px 0px 20px
}



/* Landing Page Styling */

img.backgroundimg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Opacity */
  opacity: 0.75;
}

/* Landing Button Styling */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 50px;
  padding: 12px 24px;
  border: 5px solid white;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
  animation-delay: 2.5s; /* Add a 1-second delay before starting the animation */
}

  @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Home Page Styling */
.centerbg {
  position: absolute;
  top: 10%;
  left: 45%;
}

.homePhoto {
  height: auto;
  width: 1000px;
  border-radius: 15px;
  box-shadow: 10px 10px 50px gray;
}

.homeAlign {
  display: flex;
  background-color: #FFF8EF;
}

.homeSpacer {
  height: 100px
}

p.hometext {
  font-size: 27px;
  padding-top: 25px;
}

.form-control {
  width: 20px;
  height: 40px;
}

.homeSignIn {
  justify-content: center;
}
/* About Page Styling */
.headshot {
  width: 750px;
  height: 750px;
  border-radius: 15px;
  box-shadow: 10px 10px 50px gray;
}

p.abouttext {
  font-size: 25px;
  padding-top: 50px;
}

.aboutheader {
  font-size: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-control {
  width: 50px;
}
/* New Calculation Styling */

.newCalcStart {
  padding-top: 400px;
}

.inputDrop {
  width: 500px;
  height: 100px;
  border-radius: 15px;
  font-size: 35px;
  border-width: 0px;
  padding: 15px;
}

.securitySelect {
  padding-left: 75px;
}