{% extends "base.html" %}

{% block page_title %}About{% endblock %}

{% block page_content %}
<div class="aboutrows">
    <div class="row" style="padding: 25px 0px 25px 0px">
        <h1 class="aboutheader">About DerivCalc</h1>
    </div>
    <div class="row">
        <div class="col-7">
            <p class="abouttext">Welcome! My name is Joe Scopelliti and I am a current graduate student at the
            University of Maryland Robert H. Smith School of Business. I intend to graduate with a Master of Science
            Degree in Quantitative Finance in the Spring of 2024. Recently graduated from the Smith School with a
            Bachelor's Degree in Finance and Information Systems, I set out with my experience to build this website in
            my free time.<br><br> This project was inspired by one of the courses in my program exploring Financial
            Mathematics. I found the material very interesting, however I did not feel very comfortable with all the
            math and coding at the time. My personal goal for building this website was to master the skills needed to
            price different types of derivatives while simultaneously leveraging my technical background in Information Systems
            to build a platform that easily and seamlessly enables others to do the same.</p>
        </div>
        <div class="col-5">
            <div class="d-flex justify-content-center">
                <img src="static/images/HeadshotDC.jpg" alt="background image" class="headshot">
            </div>
        </div>
    </div>
</div>

{% endblock %}