{% extends "base.html" %}

{% block page_title %}About{% endblock %}

{% block page_content %}
<div class="parentFlex">
    <div class="aboutChild-1">
        <div class="aboutItem-1 fadeLeft">
            <img src="static/images/HeadshotDC.jpg" alt="background image" class="headshot">
        </div>
        <div class="aboutItem-2 fadeRight">
            <h1 class="aboutheader"><i>About DerivCalc</i></h1>
            <p class="aboutIntro"><strong>I'm Joe Scopelliti, a current graduate student at the
                University of Maryland Robert H. Smith School of Business.</strong></p>
            <p class="abouttext">I intend to graduate with a Master of Science
                Degree in Quantitative Finance in the Spring of 2024. Recently graduated from the Smith School with a
                Bachelor's Degree in Finance and Information Systems, I set out with my experience to build this website in
                my free time.<br><br> This project was inspired by one of the courses in my program exploring Financial
                Mathematics. I found the material very interesting, however I did not feel very comfortable with all the
                math and coding at the time. My personal goal for building this website was to master the skills needed to
                price different types of derivatives while simultaneously leveraging my technical background in Information Systems
                to build a platform that easily and seamlessly enables others to do the same.</p>
        </div>
    </div>
</div>
{% endblock %}