{% extends "base.html" %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
<div class="parentFlex">
    <div class="homeChild-1">
        <div class="homeItem-1">
            <div class="home1"><h1 class="aboutheader">Enabling you to <i>instantly</i> price your securities.</h1></div>
            <div class="home1"><p class="hometext">DerivCalc helps you stay more aware of the true value of your positions
            with just a few simple clicks.</p></div>
            <div class="homeSpacer"></div>
            <div class="home1CenterFlex">
                <a href="/newCalculation"><button class="inputButtons"><i>Discover Derivcalc</i></button></a>
            </div>
        </div>
        <div class="homeItem-2">
            <img src="static/images/homePhoto.jpg" alt="background image" class="homePhoto">
        </div>
    </div>
    <hr width="93%" style="margin:auto">
    <div class="homeChild-2">
        <div class="homeSpacer">
            <h2 style="text-align: center">Learn more about DerivCalc</h2>
        <div>
    </div>
</div>
{% endblock %}

