{% extends "baseNC.html" %}

{% block page_title %}New Calculation{% endblock %}

{% block page_content %}
<div class="selectRectangle fadeDown"><h1 class="newCalcHead">New Calculation</h1></div>
<div class="ncParent">
    <div class="ncChild-1">
        <h1 class="ncPrompt">What will you be pricing?</h1>
        <select class="inputDrop" aria-label="Large select example">
          <option selected>Select a security</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
    <div class="ncChild-2">

    </div>
</div>
{% endblock %}

